##  Preparando o Ambiente
### Importando as Bibliotecas Essenciais

In [1]:
import pandas             as pd
import numpy              as np
from plyer import notification 
from datetime import datetime
import requests
import os
import zipfile

# Baixando e Extraindo os Dados

Neste módulo, focaremos em obter os dados que serão utilizados na nossa análise. Implementaremos uma função para baixar um arquivo ZIP de uma URL específica e extrair seu conteúdo para o diretório atual.

In [3]:
def baixar_e_extrair(url, nome_arquivo):
  
  # Verifica se o arquivo já existe
  if os.path.exists(nome_arquivo):
    print(f"O arquivo {nome_arquivo} já existe. Pulando o download.")
    return

  # Baixa o arquivo
  response = requests.get(url)
  response.raise_for_status()

  # Salva o arquivo no disco
  with open(nome_arquivo, 'wb') as f:
    f.write(response.content)

  # Extrai o arquivo ZIP
  with zipfile.ZipFile(nome_arquivo, 'r') as zip_ref:
    zip_ref.extractall()

# URL do arquivo ZIP:
url = "https://download.inep.gov.br/microdados/microdados_enem_2023.zip"  
nome_arquivo = "microdados_enem_2023.zip"  # Nome do arquivo baixado

# Chama a função para baixar e extrair o arquivo
baixar_e_extrair(url, nome_arquivo)

O arquivo microdados_enem_2023.zip já existe. Pulando o download.

## Sistema de Alerta 

**Objetivo:**

Criar um sistema de notificações para alertar o usuário sobre erros ou eventos importantes durante a execução do programa.

**Função `alerta`:**

Esta função gera e envia notificações personalizadas ao sistema operacional, utilizando a biblioteca `plyer`.

In [4]:
def alerta(nivel, base, etapa, erro=""):
    now = str(datetime.now())
    msg = f"Falha no carregamento da base {base} na etapa {etapa}.\n{now}\n{erro}"

    if nivel == 1:
        title = 'ATENÇÃO: Alerta Baixo'
    elif nivel == 2:
        title = 'ATENÇÃO: Alerta Médio'
    elif nivel == 3:
        title = 'ATENÇÃO: Alerta Alto'
    else:
        print("Nível", nivel, "não disponível!")
        return

    # Enviar notificação
    notification.notify(
        title=title,
        message=msg,
        app_name='alerta',
        timeout=10
    )

## Carregando Arquivos CSV Grandes em Partes

**Objetivo:**

Carregar arquivos CSV muito grandes em partes menores para evitar problemas de memória e melhorar o desempenho.

In [1]:
import pandas as pd

def carregar_csv_em_partes(caminho_csv, chunksize=10000):
    for chunk in pd.read_csv(caminho_csv, chunksize=chunksize, encoding='latin1', sep=';'):
        yield chunk

# Caminho para o arquivo CSV
caminho_csv = "DADOS/MICRODADOS_ENEM_2023.csv"

# Processa o arquivo em partes de 10.000 linhas
for chunk in carregar_csv_em_partes(caminho_csv):
    # Processar cada chunk aqui
    print(chunk.head())  # Exemplo: imprimir as primeiras 5 linhas de cada chunk

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210059085136    2023               14       M                2
1  210059527735    2023               12       M                2
2  210061103945    2023                6       F                1
3  210060214087    2023                2       F                1
4  210059980948    2023                3       F                1

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            1                 1                1               17          1
1            1                 0                1               16          1
2            1                 1                1                0          1
3            3                 1                2                0          2
4            3                 1                2                0          2

   ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  Q025
0  ...     C     C     B    B     A    B     B     A     A     B
1  ...     B     A     B    B     A    A     C     A     D     B
2  ...     B     A     A    B     A    A     A     A     A     B
3  ...     A     A     A    B     A    A     D     A     A     B
4  ...     A     A     A    B     A    A     B     A     A     A

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
10000  210059912782    2023                3       F                1
10001  210060514084    2023                2       F                1
10002  210060392560    2023                5       F                1
10003  210058623920    2023                3       F                1
10004  210059342650    2023                4       F                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
10000            2                 1                1                1
10001            3                 1                3                0
10002            1                 1                1                2
10003            1                 1                2                0
10004            2                 1                2                0

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
10000          1  ...     A     A     A    B     A    A     C     A     B
10001          1  ...     A     A     A    B     A    A     B     A     A
10002          1  ...     A     A     B    B     A    A     D     A     A
10003          2  ...     A     A     A    A     A    A     B     A     A
10004          2  ...     A     A     A    B     B    B     D     A     A

       Q025
10000     B
10001     B
10002     B
10003     B
10004     B

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
20000  210060373869    2023                4       F                1
20001  210059589824    2023                4       F                1
20002  210058941600    2023                3       F                1
20003  210059959529    2023                3       F                0
20004  210060008034    2023                3       F                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
20000            3                 1                1                1
20001            2                 1                1                1
20002            3                 1                2                0
20003            3                 1                2                0
20004            1                 1                2                0

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
20000          1  ...     A     A     A    B     A    A     C     A     A
20001          1  ...     A     A     A    A     A    A     D     A     A
20002          2  ...     A     A     A    B     A    A     D     A     A
20003          2  ...     B     A     A    B     A    A     D     A     B
20004          2  ...     A     A     A    B     A    A     B     A     A

       Q025
20000     B
20001     B
20002     B
20003     B
20004     A

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
30000  210061063449    2023                2       F                1
30001  210060009264    2023                3       F                1
30002  210060146862    2023                4       F                1
30003  210058823488    2023               11       M                1
30004  210059787922    2023                4       M                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
30000            1                 1                2                0
30001            3                 1                2                0
30002            1                 1                1                1
30003            1                 1                2                0
30004            3                 1                1                2

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
30000          3  ...     B     A     A    C     A    B     C     A     C
30001          2  ...     A     A     A    B     A    A     C     A     A
30002          1  ...     A     A     B    B     A    B     C     A     A
30003          2  ...     B     A     A    B     A    A     B     A     A
30004          1  ...     A     A     A    B     A    A     B     A     A

       Q025
30000     B
30001     A
30002     B
30003     B
30004     B

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
40000  210060469885    2023                7       M                1
40001  210060386324    2023                3       F                1
40002  210058594022    2023                1       F                1
40003  210059052360    2023                1       M                1
40004  210059288443    2023                2       F                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
40000            1                 1                1                4
40001            1                 1                2                0
40002            1                 1                3                0
40003            1                 1                3                0
40004            3                 1                2                0

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
40000          1  ...     B     A     A    B     A    A     D     A     B
40001          2  ...     B     A     A    B     A    A     D     A     B
40002          1  ...     B     A     A    B     A    A     E     A     A
40003          1  ...     A     A     A    B     A    A     B     A     B
40004          2  ...     B     A     A    B     A    A     E     A     A

       Q025
40000     B
40001     B
40002     B
40003     A
40004     B

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
50000  210058524462    2023                2       F                1
50001  210061013687    2023                2       F                1
50002  210059072388    2023                3       F                1
50003  210060201174    2023                4       M                1
50004  210059375132    2023                3       F                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
50000            3                 1                2                0
50001            3                 1                3                0
50002            1                 1                2                0
50003            3                 1                2                0
50004            2                 1                1                1

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
50000          2  ...     A     A     A    B     A    A     B     A     A
50001          1  ...     A     A     A    B     A    A     C     A     A
50002          2  ...     B     A     A    B     A    B     D     A     A
50003          2  ...     A     A     A    B     A    B     E     A     A
50004          1  ...     A     A     A    B     A    A     D     A     A

       Q025
50000     A
50001     B
50002     B
50003     B
50004     B

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
60000  210058967026    2023                5       F                0
60001  210059937605    2023               11       M                1
60002  210058441641    2023                3       F                1
60003  210060079529    2023                3       M                1
60004  210060699190    2023                2       F                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
60000            3                 1                1                2
60001            1                 1                1                9
60002            3                 1                2                0
60003            3                 1                2                0
60004            3                 1                2                0

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
60000          1  ...     A     A     A    B     A    A     C     A     A
60001          1  ...     A     A     A    B     A    A     D     A     B
60002          3  ...     B     A     B    C     A    B     E     A     B
60003          2  ...     A     A     A    B     A    A     B     A     A
60004          2  ...     A     A     A    C     A    A     E     A     A

       Q025
60000     A
60001     B
60002     B
60003     B
60004     B

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
70000  210058335653    2023               13       F                1
70001  210060242241    2023                3       F                1
70002  210060370874    2023               11       M                1
70003  210060423718    2023                3       F                1
70004  210058561359    2023                2       F                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
70000            2                 1                1               17
70001            1                 1                1                1
70002            2                 1                2                0
70003            1                 1                1                0
70004            1                 1                3                0

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
70000          1  ...     B     A     A    D     A    A     D     A     A
70001          1  ...     A     A     A    B     A    A     B     A     B
70002          2  ...     A     A     A    B     A    A     B     A     A
70003          1  ...     B     A     A    B     A    B     E     B     B
70004          1  ...     A     A     A    B     A    A     C     A     A

       Q025
70000     B
70001     B
70002     B
70003     B
70004     B

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
80000  210061339374    2023                2       F                1
80001  210060392197    2023                3       F                1
80002  210059682762    2023               14       F                0
80003  210058944004    2023                4       F                1
80004  210061296979    2023                5       F                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
80000            1                 1                2                0
80001            1                 1                2                0
80002            1                 1                1               17
80003            1                 1                2                0
80004            1                 1                1                2

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
80000          2  ...     A     A     A    B     A    A     B     A     A
80001          2  ...     B     A     A    B     A    A     C     A     A
80002          1  ...     B     A     A    B     A    A     C     A     B
80003          2  ...     A     A     A    B     A    A     D     A     A
80004          1  ...     A     A     B    C     A    A     D     A     B

       Q025
80000     B
80001     B
80002     B
80003     B
80004     B

[5 rows x 76 columns]
       NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
90000  210059126184    2023               10       F                1
90001  210059403395    2023                2       F                1
90002  210060813052    2023                3       M                1
90003  210060946161    2023                3       F                1
90004  210059543030    2023                4       M                1

       TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
90000            1                 1                1                8
90001            1                 1                3                0
90002            3                 1                2                0
90003            3                 1                2                0
90004            4                 1                1                2

       TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
90000          1  ...     A     A     A    B     A    A     D     A     B
90001          1  ...     B     A     A    B     A    A     D     A     A
90002          2  ...     A     A     A    C     B    A     A     A     A
90003          2  ...     A     A     A    A     A    A     B     A     A
90004          1  ...     B     A     A    B     A    A     D     A     B

       Q025
90000     B
90001     B
90002     B
90003     A
90004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
100000  210059149707    2023               15       F                1
100001  210061153958    2023                3       M                1
100002  210061381650    2023               11       F                1
100003  210059708752    2023                2       M                1
100004  210058641487    2023               12       M                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
100000            3                 1                1               17
100001            1                 1                2                0
100002            3                 1                1                8
100003            3                 1                2                0
100004            2                 1                1               13

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
100000          1  ...     A     A     A    B     A    A     C     A     A
100001          2  ...     A     A     A    B     A    A     C     A     B
100002          1  ...     B     A     A    B     A    A     B     A     A
100003          2  ...     A     A     A    B     B    B     B     A     B
100004          1  ...     A     A     A    B     A    B     E     A     A

        Q025
100000     B
100001     A
100002     B
100003     B
100004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
110000  210060688117    2023                2       F                1
110001  210060904253    2023                3       F                1
110002  210060067217    2023               11       M                1
110003  210059013508    2023                4       M                1
110004  210061360605    2023                2       M                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
110000            1                 1                2                0
110001            1                 1                2                0
110002            3                 1                1                7
110003            3                 1                1                1
110004            2                 1                3                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
110000          3  ...     B     A     B    D     B    A     E     A     B
110001          3  ...     A     A     B    E     B    B     E     B     E
110002          1  ...     A     A     A    B     A    A     B     A     A
110003          1  ...     A     A     A    B     A    A     C     A     A
110004          1  ...     A     A     A    B     A    A     C     A     A

        Q025
110000     B
110001     B
110002     B
110003     B
110004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
120000  210060832820    2023                4       F                1
120001  210058460768    2023                2       F                1
120002  210060720451    2023                3       F                1
120003  210059419548    2023                2       F                1
120004  210060105943    2023               18       M                4

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
120000            1                 1                1                1
120001            1                 1                2                0
120002            1                 1                2                0
120003            1                 1                2                0
120004            1                 1                1                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
120000          1  ...     B     A     A    A     A    A     B     A     B
120001          2  ...     A     A     A    B     A    A     C     A     A
120002          2  ...     B     A     A    B     A    A     B     A     B
120003          2  ...     B     A     B    C     B    B     E     B     D
120004          1  ...     B     A     A    B     A    A     C     A     C

        Q025
120000     B
120001     B
120002     B
120003     B
120004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
130000  210058641587    2023                4       F                1
130001  210060399288    2023                3       F                1
130002  210059164771    2023                1       F                1
130003  210061412542    2023                3       M                1
130004  210059723740    2023                2       F                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
130000            2                 1                1                1
130001            1                 1                1                1
130002            4                 1                3                0
130003            1                 1                2                0
130004            1                 1                2                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
130000          1  ...     B     A     A    C     A    A     D     A     B
130001          1  ...     B     A     B    D     B    B     E     B     D
130002          1  ...     B     A     B    C     B    A     E     A     D
130003          2  ...     B     A     B    B     A    A     B     A     B
130004          2  ...     A     A     A    C     A    A     C     A     B

        Q025
130000     B
130001     B
130002     B
130003     B
130004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
140000  210060605677    2023                3       F                1
140001  210060561984    2023               14       M                0
140002  210059192981    2023                5       F                1
140003  210060403775    2023               11       F                1
140004  210060403794    2023               10       F                1


## Análise Exploratória do DataFrame

**Visualizando as informações do DataFrame**

In [7]:
df = chunk
df.info

<bound method DataFrame.info of          NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
3930000  210059112392    2023                4       M                1
3930001  210060912157    2023                5       F                1
3930002  210059585519    2023                1       M                1
3930003  210058919810    2023                9       M                2
3930004  210059022001    2023                9       F                1
...               ...     ...              ...     ...              ...
3933950  210061959676    2023               12       M                1
3933951  210061950911    2023                1       F                1
3933952  210061965966    2023                3       F                1
3933953  210061932304    2023                2       M                1
3933954  210058924455    2023                3       F                1

         TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
3930000            2                 1                1                1
3930001            1                 4                1                3
3930002            1                 1                3                0
3930003            3                 1                1                7
3930004            2                 1                1                6
...              ...               ...              ...              ...
3933950            1                 1                1                6
3933951            1                 2                3                0
3933952            3                 1                2                0
3933953            1                 1                2                0
3933954            3                 1                2                0

         TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
3930000          1  ...     A     A     A    B     A    B     D     A     A
3930001          1  ...     A     A     A    A     A    A     D     A     C
3930002          1  ...     B     A     A    E     A    B     E     B     C
3930003          1  ...     A     A     A    B     A    A     D     A     B
3930004          1  ...     A     A     A    B     A    A     C     A     A
...            ...  ...   ...   ...   ...  ...   ...  ...   ...   ...   ...
3933950          1  ...     B     A     A    C     A    B     E     A     A
3933951          1  ...     B     A     B    C     B    B     B     B     C
3933952          2  ...     A     A     A    B     A    A     B     A     A
3933953          3  ...     B     B     B    C     A    A     D     A     C
3933954          2  ...     A     A     A    B     B    A     D     A     B

         Q025
3930000     B
3930001     B
3930002     B
3930003     B
3930004     B
...       ...
3933950     B
3933951     B
3933952     B
3933953     B
3933954     B

[3955 rows x 76 columns]>

## Obtendo as Dimensões do DataFrame

In [8]:
df.shape

(3955, 76)

## Acessando os Nomes das Colunas de um DataFrame

In [9]:
df.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

## Análise de Dados Ausentes

**Objetivo:**

Identificar e quantificar os valores ausentes (NaN) em cada coluna do DataFrame.

In [10]:
dados_ausentes = df.isna().sum()
dados_ausentes

NU_INSCRICAO       0
NU_ANO             0
TP_FAIXA_ETARIA    0
TP_SEXO            0
TP_ESTADO_CIVIL    0
                  ..
Q021               0
Q022               0
Q023               0
Q024               0
Q025               0
Length: 76, dtype: int64

## Função `calcular_percentual_missing`

**Objetivo:**
Calcular o percentual de valores ausentes (NaN) em cada coluna de um DataFrame do Pandas.

In [11]:
def calcular_percentual_missing(df):
    # Calculando o percentual de valores ausentes
    percentual_missing = df.isna().sum() / len(df) * 100
    
    # Ordenando os resultados em ordem decrescente
    percentual_missing = percentual_missing.sort_values(ascending=False)
    
    return percentual_missing

In [12]:
calcular_percentual_missing(df)

TP_LOCALIZACAO_ESC        84.247788
CO_UF_ESC                 84.247788
TP_SIT_FUNC_ESC           84.247788
TP_DEPENDENCIA_ADM_ESC    84.247788
SG_UF_ESC                 84.247788
                            ...
TP_PRESENCA_LC             0.000000
TP_PRESENCA_MT             0.000000
NU_ANO                     0.000000
TP_LINGUA                  0.000000
Q025                       0.000000
Length: 76, dtype: float64

In [13]:
df.index

RangeIndex(start=3930000, stop=3933955, step=1)

## Analisando a Variabilidade dos Dados

**Objetivo:**
Identificar as colunas com menor variabilidade de valores únicos e suas respectivas quantidades.

In [14]:
df.nunique().sort_values(ascending=True)

NU_ANO                1
Q025                  2
Q020                  2
Q018                  2
TP_LINGUA             2
                   ...
TX_RESPOSTAS_MT    1844
TX_RESPOSTAS_CN    1844
TX_RESPOSTAS_LC    2027
TX_RESPOSTAS_CH    2027
NU_INSCRICAO       3955
Length: 76, dtype: int64

In [15]:
type(df)

pandas.core.frame.DataFrame

## Análise Descritiva Sumarizada

**Objetivo:**
Obter um resumo conciso das estatísticas descritivas de todas as colunas numéricas do DataFrame.

In [16]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
NU_INSCRICAO,3955.0,2.100603e+11,1.092976e+06,2.100581e+11,2.100594e+11,2.100600e+11,2.100615e+11,2.100621e+11
NU_ANO,3955.0,2.023000e+03,0.000000e+00,2.023000e+03,2.023000e+03,2.023000e+03,2.023000e+03,2.023000e+03
TP_FAIXA_ETARIA,3955.0,6.839949e+00,4.455640e+00,1.000000e+00,3.000000e+00,6.000000e+00,1.100000e+01,1.900000e+01
TP_ESTADO_CIVIL,3955.0,1.105942e+00,5.261523e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_COR_RACA,3955.0,2.022503e+00,9.945473e-01,0.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00
TP_NACIONALIDADE,3955.0,1.030341e+00,2.306547e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_ST_CONCLUSAO,3955.0,1.495575e+00,7.399081e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00
TP_ANO_CONCLUIU,3955.0,4.403540e+00,5.767497e+00,0.000000e+00,0.000000e+00,1.000000e+00,7.000000e+00,1.700000e+01
TP_ESCOLA,3955.0,1.235398e+00,4.553521e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
TP_ENSINO,790.0,1.003797e+00,6.154545e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
IN_TREINEIRO,3955.0,1.251580e-01,3.309399e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
CO_MUNICIPIO_ESC,623.0,3.349929e+06,1.009940e+06,1.100049e+06,2.905652e+06,3.510807e+06,4.113700e+06,5.300108e+06
CO_UF_ESC,623.0,3.333066e+01,1.008085e+01,1.100000e+01,2.900000e+01,3.500000e+01,4.100000e+01,5.300000e+01
TP_DEPENDENCIA_ADM_ESC,623.0,2.138042e+00,6.442030e-01,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
TP_LOCALIZACAO_ESC,623.0,1.032103e+00,1.764146e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_SIT_FUNC_ESC,623.0,1.022472e+00,2.461452e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
CO_MUNICIPIO_PROVA,3955.0,3.167673e+06,1.007732e+06,1.100023e+06,2.509004e+06,3.201605e+06,3.550308e+06,5.300108e+06
CO_UF_PROVA,3955.0,3.152111e+01,1.004843e+01,1.100000e+01,2.500000e+01,3.200000e+01,3.500000e+01,5.300000e+01
TP_PRESENCA_CN,3955.0,4.756005e-01,5.019929e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_CH,3955.0,5.155499e-01,5.023450e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_LC,3955.0,5.155499e-01,5.023450e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_MT,3955.0,4.756005e-01,5.019929e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00
CO_PROVA_CN,1871.0,1.222874e+03,5.616450e+00,1.221000e+03,1.222000e+03,1.222000e+03,1.223000e+03,1.304000e+03
CO_PROVA_CH,2029.0,1.192752e+03,4.486601e+00,1.191000e+03,1.191000e+03,1.193000e+03,1.194000e+03,1.273000e+03
CO_PROVA_LC,2029.0,1.202740e+03,4.511006e+00,1.201000e+03,1.201000e+03,1.203000e+03,1.204000e+03,1.284000e+03
CO_PROVA_MT,1871.0,1.212874e+03,5.624121e+00,1.211000e+03,1.212000e+03,1.212000e+03,1.213000e+03,1.294000e+03
NU_NOTA_CN,1871.0,4.921060e+02,9.463817e+01,0.000000e+00,4.455000e+02,4.991000e+02,5.494000e+02,7.579000e+02
NU_NOTA_CH,2029.0,5.210104e+02,9.103802e+01,0.000000e+00,4.628000e+02,5.295000e+02,5.841000e+02,7.749000e+02
NU_NOTA_LC,2029.0,5.190373e+02,7.747977e+01,0.000000e+00,4.749000e+02,5.243000e+02,5.688000e+02,7.377000e+02
NU_NOTA_MT,1871.0,5.264646e+02,1.348915e+02,0.000000e+00,4.334000e+02,5.215000e+02,6.251500e+02,9.202000e+02
TP_LINGUA,3955.0,4.498104e-01,4.975375e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
TP_STATUS_REDACAO,2029.0,1.205520e+00,9.159173e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00
NU_NOTA_COMP1,2029.0,1.144308e+02,3.606281e+01,0.000000e+00,1.000000e+02,1.200000e+02,1.400000e+02,1.800000e+02
NU_NOTA_COMP2,2029.0,1.247807e+02,4.959614e+01,0.000000e+00,1.200000e+02,1.200000e+02,1.600000e+02,2.000000e+02
NU_NOTA_COMP3,2029.0,1.069000e+02,4.054000e+01,0.000000e+00,8.000000e+01,1.200000e+02,1.200000e+02,2.000000e+02
NU_NOTA_COMP4,2029.0,1.165697e+02,4.057844e+01,0.000000e+00,1.000000e+02,1.200000e+02,1.400000e+02,2.000000e+02
NU_NOTA_COMP5,2029.0,8.882208e+01,5.691998e+01,0.000000e+00,4.000000e+01,1.000000e+02,1.200000e+02,2.000000e+02
NU_NOTA_REDACAO,2029.0,5.515032e+02,1.990994e+02,0.000000e+00,4.600000e+02,5.600000e+02,6.600000e+02,9.800000e+02
Q005,3955.0,3.518837e+00,1.419510e+00,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.300000e+01

## Preparando os Dados para Análise da Nota de Matemática

**Objetivo:**
Isolar as colunas relevantes para a análise de matemática e remover linhas com dados faltantes.

In [17]:
def encontrar_dataframe_matematica(df):
    # Filtrar as colunas desejadas
    df_matematica = df[['TP_FAIXA_ETARIA', 'TP_SEXO', 'CO_PROVA_MT']]
    
    # Remover linhas com valores NaN
    df_matematica_limpa = df_matematica.dropna()
    
    return df_matematica_limpa

In [18]:
encontrar_dataframe_matematica(df)

         TP_FAIXA_ETARIA TP_SEXO  CO_PROVA_MT
3930000                4       M       1213.0
3930001                5       F       1213.0
3930002                1       M       1211.0
3930005                3       F       1214.0
3930006                1       F       1214.0
...                  ...     ...          ...
3933946               12       F       1212.0
3933948                3       M       1214.0
3933950               12       M       1211.0
3933951                1       F       1211.0
3933953                2       M       1211.0

[1871 rows x 3 columns]

In [19]:
df_matematica_limpa = encontrar_dataframe_matematica(df)

In [20]:
df_matematica_limpa.shape

(1871, 3)

## Análise Descritiva das Notas de Matemática

**Objetivo:**
Obter um resumo estatístico das notas de matemática, considerando as variáveis de faixa etária e sexo.

In [21]:
df_matematica_limpa.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
TP_FAIXA_ETARIA,1871.0,6.193479,4.523968,1.0,2.0,4.0,11.0,19.0
CO_PROVA_MT,1871.0,1212.874399,5.624121,1211.0,1212.0,1212.0,1213.0,1294.0

## Análise da Distribuição de Gênero na Prova de Matemática

**Objetivo:**
Contabilizar a quantidade de participantes de cada gênero na prova de matemática.

In [22]:
df_matematica_limpa.TP_SEXO.value_counts()

TP_SEXO
M    979
F    892
Name: count, dtype: int64