In [1]:
import pandas             as pd
import numpy              as np
import matplotlib.pyplot  as plt
from plyer import notification 
from datetime import datetime
import requests
import os
import zipfile

In [2]:
def baixar_e_extrair(url, nome_arquivo):
  
  # Verifica se o arquivo já existe
  if os.path.exists(nome_arquivo):
    print(f"O arquivo {nome_arquivo} já existe. Pulando o download.")
    return

  # Baixa o arquivo
  response = requests.get(url)
  response.raise_for_status()

  # Salva o arquivo no disco
  with open(nome_arquivo, 'wb') as f:
    f.write(response.content)

  # Extrai o arquivo ZIP
  with zipfile.ZipFile(nome_arquivo, 'r') as zip_ref:
    zip_ref.extractall()

# URL do arquivo ZIP:
url = "https://download.inep.gov.br/microdados/enem_por_escola/2005_a_2015/microdados_enem_por_escola.zip"  
nome_arquivo = "microdados_enem_por_escola.zip"  # Nome do arquivo baixado

# Chama a função para baixar e extrair o arquivo
baixar_e_extrair(url, nome_arquivo)

O arquivo microdados_enem_por_escola.zip já existe. Pulando o download.

In [3]:
def alerta(nivel, base, etapa, erro=""):
    now = str(datetime.now())
    msg = f"Falha no carregamento da base {base} na etapa {etapa}.\n{now}\n{erro}"

    if nivel == 1:
        title = 'ATENÇÃO: Alerta Baixo'
    elif nivel == 2:
        title = 'ATENÇÃO: Alerta Médio'
    elif nivel == 3:
        title = 'ATENÇÃO: Alerta Alto'
    else:
        print("Nível", nivel, "não disponível!")
        return

    # Enviar notificação
    notification.notify(
        title=title,
        message=msg,
        app_name='alerta',
        timeout=10
    )

In [4]:
def carregar_csv(caminho_csv):
    return pd.read_csv(caminho_csv, encoding='latin1', sep=';')

caminho_csv = "DADOS/MICRODADOS_ENEM_ESCOLA.csv"
df = carregar_csv(caminho_csv)
df.head(5)

/tmp/ipykernel_23315/1886659030.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(caminho_csv, encoding='latin1', sep=';')

,NU_ANO,CO_UF_ESCOLA,SG_UF_ESCOLA,CO_MUNICIPIO_ESCOLA,NO_MUNICIPIO_ESCOLA,CO_ESCOLA_EDUCACENSO,NO_ESCOLA_EDUCACENSO,TP_DEPENDENCIA_ADM_ESCOLA,TP_LOCALIZACAO_ESCOLA,NU_MATRICULAS,...,NU_MEDIA_RED,NU_MEDIA_OBJ,NU_MEDIA_TOT,INSE,PC_FORMACAO_DOCENTE,NU_TAXA_PERMANENCIA,NU_TAXA_APROVACAO,NU_TAXA_REPROVACAO,NU_TAXA_ABANDONO,PORTE_ESCOLA
0,2007,11,RO,1100205,Porto Velho,11000058,CENTRO DE ENSINO CLASSE A,4,1,144,...,NaN,NaN,69.03,NaN,NaN,NaN,91.9,8.1,0.0,Maior que 90 alunos
1,2006,11,RO,1100205,Porto Velho,11000058,CENTRO DE ENSINO CLASSE A,4,1,184,...,NaN,NaN,57.82,NaN,NaN,NaN,NaN,NaN,NaN,Maior que 90 alunos
2,2005,11,RO,1100205,Porto Velho,11000058,CENTRO DE ENSINO CLASSE A,4,1,220,...,NaN,NaN,64.83,NaN,NaN,NaN,86.5,12.4,1.1,Maior que 90 alunos
3,2008,11,RO,1100205,Porto Velho,11000058,CENTRO DE ENSINO CLASSE A,4,1,186,...,72.16,60.02,NaN,NaN,NaN,NaN,90.3,9.7,0.0,Maior que 90 alunos
4,2007,11,RO,1100205,Porto Velho,11000171,CENTRO EDUCACIONAL MOJUCA,4,1,19,...,NaN,NaN,58.84,NaN,NaN,NaN,74.2,21.0,4.8,De 1 a 30 alunos

In [6]:
df.info

<bound method DataFrame.info of         NU_ANO  CO_UF_ESCOLA SG_UF_ESCOLA  CO_MUNICIPIO_ESCOLA  \
0         2007            11           RO              1100205
1         2006            11           RO              1100205
2         2005            11           RO              1100205
3         2008            11           RO              1100205
4         2007            11           RO              1100205
...        ...           ...          ...                  ...
172300    2013            53           DF              5300108
172301    2014            53           DF              5300108
172302    2015            53           DF              5300108
172303    2014            53           DF              5300108
172304    2015            53           DF              5300108

       NO_MUNICIPIO_ESCOLA  CO_ESCOLA_EDUCACENSO       NO_ESCOLA_EDUCACENSO  \
0              Porto Velho              11000058  CENTRO DE ENSINO CLASSE A
1              Porto Velho              11000058  CENTRO DE ENSINO CLASSE A
2              Porto Velho              11000058  CENTRO DE ENSINO CLASSE A
3              Porto Velho              11000058  CENTRO DE ENSINO CLASSE A
4              Porto Velho              11000171  CENTRO EDUCACIONAL MOJUCA
...                    ...                   ...                        ...
172300            Brasília              53068181     CED 310 DE SANTA MARIA
172301            Brasília              53068181     CED 310 DE SANTA MARIA
172302            Brasília              53068181     CED 310 DE SANTA MARIA
172303            Brasília              53082001                COL IMPACTO
172304            Brasília              53082001                COL IMPACTO

        TP_DEPENDENCIA_ADM_ESCOLA  TP_LOCALIZACAO_ESCOLA  NU_MATRICULAS  ...  \
0                               4                      1            144  ...
1                               4                      1            184  ...
2                               4                      1            220  ...
3                               4                      1            186  ...
4                               4                      1             19  ...
...                           ...                    ...            ...  ...
172300                          2                      1            213  ...
172301                          2                      1            138  ...
172302                          2                      1            198  ...
172303                          4                      1             12  ...
172304                          4                      1             28  ...

        NU_MEDIA_RED  NU_MEDIA_OBJ  NU_MEDIA_TOT     INSE  \
0                NaN           NaN         69.03      NaN
1                NaN           NaN         57.82      NaN
2                NaN           NaN         64.83      NaN
3              72.16         60.02           NaN      NaN
4                NaN           NaN         58.84      NaN
...              ...           ...           ...      ...
172300        503.86           NaN           NaN      NaN
172301        470.20           NaN           NaN      NaN
172302        517.24           NaN           NaN  Grupo 3
172303        482.00           NaN           NaN      NaN
172304        578.00           NaN           NaN  Grupo 5

        PC_FORMACAO_DOCENTE  NU_TAXA_PERMANENCIA  NU_TAXA_APROVACAO  \
0                       NaN                  NaN               91.9
1                       NaN                  NaN                NaN
2                       NaN                  NaN               86.5
3                       NaN                  NaN               90.3
4                       NaN                  NaN               74.2
...                     ...                  ...                ...
172300                 91.8                  NaN               83.1
172301                 72.0                82.00               81.2
172302                 83.3                76.32               78.9
172303                 69.2                  NaN               91.4
172304                 57.1                75.00               95.0

        NU_TAXA_REPROVACAO  NU_TAXA_ABANDONO         PORTE_ESCOLA
0                      8.1               0.0  Maior que 90 alunos
1                      NaN               NaN  Maior que 90 alunos
2                     12.4               1.1  Maior que 90 alunos
3                      9.7               0.0  Maior que 90 alunos
4                     21.0               4.8     De 1 a 30 alunos
...                    ...               ...                  ...
172300                 9.1               7.8  Maior que 90 alunos
172301                17.5               1.3  Maior que 90 alunos
172302                10.1              11.0  Maior que 90 alunos
172303                 8.6               0.0     De 1 a 30 alunos
172304                 5.0               0.0     De 1 a 30 alunos

[172305 rows x 27 columns]>

In [7]:
df.shape

(172305, 27)

In [8]:
df.columns

Index(['NU_ANO', 'CO_UF_ESCOLA', 'SG_UF_ESCOLA', 'CO_MUNICIPIO_ESCOLA',
       'NO_MUNICIPIO_ESCOLA', 'CO_ESCOLA_EDUCACENSO', 'NO_ESCOLA_EDUCACENSO',
       'TP_DEPENDENCIA_ADM_ESCOLA', 'TP_LOCALIZACAO_ESCOLA', 'NU_MATRICULAS',
       'NU_PARTICIPANTES_NEC_ESP', 'NU_PARTICIPANTES', 'NU_TAXA_PARTICIPACAO',
       'NU_MEDIA_CN', 'NU_MEDIA_CH', 'NU_MEDIA_LP', 'NU_MEDIA_MT',
       'NU_MEDIA_RED', 'NU_MEDIA_OBJ', 'NU_MEDIA_TOT', 'INSE',
       'PC_FORMACAO_DOCENTE', 'NU_TAXA_PERMANENCIA', 'NU_TAXA_APROVACAO',
       'NU_TAXA_REPROVACAO', 'NU_TAXA_ABANDONO', 'PORTE_ESCOLA'],
      dtype='object')

In [9]:
dados_ausentes = df.isna().sum()
dados_ausentes

NU_ANO                            0
CO_UF_ESCOLA                      0
SG_UF_ESCOLA                      0
CO_MUNICIPIO_ESCOLA               0
NO_MUNICIPIO_ESCOLA               0
CO_ESCOLA_EDUCACENSO              0
NO_ESCOLA_EDUCACENSO              0
TP_DEPENDENCIA_ADM_ESCOLA         0
TP_LOCALIZACAO_ESCOLA             0
NU_MATRICULAS                     0
NU_PARTICIPANTES_NEC_ESP     126950
NU_PARTICIPANTES                  0
NU_TAXA_PARTICIPACAO          67618
NU_MEDIA_CN                   67618
NU_MEDIA_CH                   67618
NU_MEDIA_LP                   67618
NU_MEDIA_MT                   67618
NU_MEDIA_RED                  48854
NU_MEDIA_OBJ                 153161
NU_MEDIA_TOT                 123831
INSE                         156708
PC_FORMACAO_DOCENTE          126985
NU_TAXA_PERMANENCIA          141430
NU_TAXA_APROVACAO             17079
NU_TAXA_REPROVACAO            17079
NU_TAXA_ABANDONO              17079
PORTE_ESCOLA                      0
dtype: int64

In [10]:
def calcular_percentual_missing(df):
    # Calculando o percentual de valores ausentes
    percentual_missing = df.isna().sum() / len(df) * 100
    
    # Ordenando os resultados em ordem decrescente
    percentual_missing = percentual_missing.sort_values(ascending=False)
    
    return percentual_missing

In [11]:
calcular_percentual_missing(df)

INSE                         90.948028
NU_MEDIA_OBJ                 88.889469
NU_TAXA_PERMANENCIA          82.081193
PC_FORMACAO_DOCENTE          73.697803
NU_PARTICIPANTES_NEC_ESP     73.677490
NU_MEDIA_TOT                 71.867328
NU_MEDIA_CN                  39.243202
NU_MEDIA_LP                  39.243202
NU_TAXA_PARTICIPACAO         39.243202
NU_MEDIA_MT                  39.243202
NU_MEDIA_CH                  39.243202
NU_MEDIA_RED                 28.353211
NU_TAXA_ABANDONO              9.912075
NU_TAXA_REPROVACAO            9.912075
NU_TAXA_APROVACAO             9.912075
NU_ANO                        0.000000
CO_UF_ESCOLA                  0.000000
NU_PARTICIPANTES              0.000000
NU_MATRICULAS                 0.000000
TP_LOCALIZACAO_ESCOLA         0.000000
TP_DEPENDENCIA_ADM_ESCOLA     0.000000
NO_ESCOLA_EDUCACENSO          0.000000
CO_ESCOLA_EDUCACENSO          0.000000
NO_MUNICIPIO_ESCOLA           0.000000
CO_MUNICIPIO_ESCOLA           0.000000
SG_UF_ESCOLA                  0.000000
PORTE_ESCOLA                  0.000000
dtype: float64

In [12]:
df.index

RangeIndex(start=0, stop=172305, step=1)

In [13]:
df.nunique().sort_values(ascending=True)

TP_LOCALIZACAO_ESCOLA            2
PORTE_ESCOLA                     4
TP_DEPENDENCIA_ADM_ESCOLA        4
INSE                             6
NU_ANO                          11
NU_PARTICIPANTES_NEC_ESP        25
SG_UF_ESCOLA                    27
CO_UF_ESCOLA                    27
NU_TAXA_ABANDONO               600
NU_PARTICIPANTES               607
NU_TAXA_REPROVACAO             608
NU_TAXA_APROVACAO              741
PC_FORMACAO_DOCENTE            947
NU_MATRICULAS                  964
NU_TAXA_PERMANENCIA           3655
NU_MEDIA_OBJ                  3900
NU_MEDIA_TOT                  4543
NU_TAXA_PARTICIPACAO          4889
NO_MUNICIPIO_ESCOLA           5294
CO_MUNICIPIO_ESCOLA           5527
NU_MEDIA_LP                  21399
NU_MEDIA_CN                  22061
NU_MEDIA_CH                  24036
CO_ESCOLA_EDUCACENSO         27152
NU_MEDIA_MT                  28009
NU_MEDIA_RED                 28186
NO_ESCOLA_EDUCACENSO         46650
dtype: int64

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
NU_ANO,172305.0,2.009806e+03,3.154137e+00,2005.00,2.007000e+03,2010.00,2013.00,2015.00
CO_UF_ESCOLA,172305.0,3.312170e+01,9.075423e+00,11.00,2.800000e+01,33.00,35.00,53.00
CO_MUNICIPIO_ESCOLA,172305.0,3.329493e+06,9.091437e+05,1100015.00,2.804805e+06,3304557.00,3556206.00,5300108.00
CO_ESCOLA_EDUCACENSO,172305.0,3.324906e+07,9.068243e+06,11000058.00,2.802456e+07,33101655.00,35924106.00,53082001.00
TP_DEPENDENCIA_ADM_ESCOLA,172305.0,2.624201e+00,9.374171e-01,1.00,2.000000e+00,2.00,4.00,4.00
TP_LOCALIZACAO_ESCOLA,172305.0,1.034642e+00,1.828720e-01,1.00,1.000000e+00,1.00,1.00,2.00
NU_MATRICULAS,172305.0,1.061156e+02,1.041906e+02,0.00,3.700000e+01,73.00,139.00,2572.00
NU_PARTICIPANTES_NEC_ESP,45355.0,3.477456e-01,1.019838e+00,0.00,0.000000e+00,0.00,0.00,29.00
NU_PARTICIPANTES,172305.0,5.511488e+01,5.641108e+01,10.00,2.000000e+01,36.00,68.00,1190.00
NU_TAXA_PARTICIPACAO,104687.0,6.444392e+01,2.322129e+01,2.00,5.135000e+01,65.91,83.72,100.00
NU_MEDIA_CN,104687.0,4.909130e+02,5.181826e+01,324.85,4.536300e+02,478.00,521.21,755.16
NU_MEDIA_CH,104687.0,5.317507e+02,5.528089e+01,357.87,4.924200e+02,527.79,567.95,758.04
NU_MEDIA_LP,104687.0,5.099560e+02,4.810540e+01,319.26,4.756400e+02,504.87,542.93,712.35
NU_MEDIA_MT,104687.0,5.129761e+02,7.312485e+01,357.98,4.585600e+02,494.30,554.61,873.65
NU_MEDIA_RED,123451.0,4.797700e+02,1.946226e+02,29.38,4.626400e+02,540.25,598.50,930.00
NU_MEDIA_OBJ,19144.0,4.037975e+01,9.883955e+00,17.31,3.349000e+01,37.65,44.20,82.96
NU_MEDIA_TOT,48474.0,4.689404e+01,8.741270e+00,16.01,4.068000e+01,45.28,51.70,82.97
PC_FORMACAO_DOCENTE,45320.0,6.035492e+01,1.711493e+01,0.00,4.980000e+01,61.80,72.90,100.00
NU_TAXA_PERMANENCIA,30875.0,7.700981e+01,3.724867e+01,0.00,6.968500e+01,80.53,88.89,5822.00
NU_TAXA_APROVACAO,155226.0,8.269823e+01,1.328053e+01,0.00,7.390000e+01,85.00,93.90,100.00
NU_TAXA_REPROVACAO,155226.0,9.927615e+00,8.407889e+00,0.00,3.600000e+00,7.90,14.10,100.00
NU_TAXA_ABANDONO,155226.0,7.374151e+00,9.049976e+00,0.00,0.000000e+00,3.80,12.00,100.00

In [20]:
def encontrar_dataframe_matematica_UF(df):
    # Filtrar as colunas desejadas
    df_matematica_UF = df[['SG_UF_ESCOLA', 'NU_MEDIA_MT']]
    
    # Remover linhas com valores NaN
    df_matematica_limpa_UF = df_matematica_UF.dropna()
    
    return df_matematica_limpa_UF

encontrar_dataframe_matematica_UF(df)

       SG_UF_ESCOLA  NU_MEDIA_MT
67618            RO       629.14
67619            RO       627.66
67620            RO       592.42
67621            RO       683.44
67622            RO       660.32
...             ...          ...
172300           DF       483.17
172301           DF       453.76
172302           DF       428.90
172303           DF       513.08
172304           DF       464.84

[104687 rows x 2 columns]